Although/IN preliminary/JJ findings/NNS were/VBD reported/VBN more/RBR than/IN a/DT year/NN ago/IN ,/, the/DT latest/JJS results/NNS appear/VBP in/IN today/NN 's/POS New/NNP England/NNP Journal/NNP of/IN Medicine/NNP ,/, a/DT forum/NN likely/JJ to/TO bring/VB new/JJ attention/NN to/TO the/DT problem/NN ./.
Dr./NNP Talcott/NNP led/VBD a/DT team/NN of/IN researchers/NNS from/IN the/DT National/NNP Cancer/NNP Institute/NNP and/CC the/DT medical/JJ schools/NNS of/IN Harvard/NNP University/NNP and/CC Boston/NNP University/NNP ./.
The/DT 30-day/JJ simple/JJ yield/NN fell/VBD to/TO an/DT average/JJ 8.19/CD %/NN from/IN 8.22/CD %/NN ;/: the/DT 30-day/JJ compound/NN yield/NN slid/VBD to/TO an/DT average/JJ 8.53/CD %/NN from/IN 8.56/CD %/NN ./.
The/DT government/NN 's/POS borrowing/NN authority/NN dropped/VBD at/IN midnight/NN Tuesday/NNP to/TO $/$ 2.80/CD trillion/CD from/IN $/$ 2.87/CD trillion/CD ./.
He/PRP had/VBD been/VBN a/DT sales/NNS and/CC marketing/NN executive/NN with/IN Chrysler/NNP for/IN 20/CD years/NNS ./.
After/IN the/DT race/NN ,/, Fortune/NNP 500/CD executives/NNS drooled/VBD like/IN schoolboys/NNS over/IN the/DT cars/NNS and/CC drivers/NNS ./.
More/JJR than/IN a/DT few/JJ CEOs/NNS say/VBP the/DT red-carpet/JJ treatment/NN tempts/VBZ them/PRP to/TO return/VB to/TO a/DT heartland/NN city/NN for/IN future/JJ meetings/NNS ./.
U.S./NNP News/NNP '/POS circulation/NN in/IN the/DT same/JJ time/NN was/VBD 2,303,328/CD ,/, down/RB 2.6/CD %/NN ./.
The/DT move/NN leaves/VBZ United/NNP Illuminating/NNP Co./NNP and/CC Northeast/NNP Utilities/NNP as/IN the/DT remaining/VBG outside/JJ bidders/NNS for/IN PS/NNP of/IN New/NNP Hampshire/NNP ,/, which/WDT also/RB has/VBZ proposed/VBN an/DT internal/JJ reorganization/NN plan/NN in/IN Chapter/NN 11/CD bankruptcy/NN proceedings/NNS under/IN which/WDT it/PRP would/MD remain/VB an/DT independent/JJ company/NN ./.
New/NNP England/NNP Electric/NNP ,/, based/VBN in/IN Westborough/NNP ,/, Mass./NNP ,/, had/VBD offered/VBN $/$ 2/CD billion/CD to/TO acquire/VB PS/NNP of/IN New/NNP Hampshire/NNP ,/, well/RB below/IN the/DT $/$ 2.29/CD billion/CD value/NN United/NNP Illuminating/NNP places/NNS on/IN its/PRP$ bid/NN and/CC the/DT $/$ 2.25/CD billion/CD Northeast/NNP says/VBZ its/PRP$ bid/NN is/VBZ worth/IN ./.
